@charset 'utf-8';

:root {
  --color-text-black: rgb(29, 29, 31);
  --color-text-gray: #888;
}

html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: var(--color-text-black);
  letter-spacing: -0.05em;
  background-color: white;
}

p {
   line-height: 1.6;
}

a {
  color: var(--color-text-black);
  text-decoration: none;
}

.global-nav {
  /* scroll-height 계산을 쉽게 하기 위해 nav를 공간차지 안하게 함 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}

.local-nav {
  /* scroll-height 계산을 쉽게 하기 위해 nav를 공간차지 안하게 함 */
  position: absolute;
  /* global-nav의 높이가 44px이니깐 top은 45px */
  top: 45px; 
  left: 0;
  width: 100%;
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}

.global-nav-links,
.local-nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.global-nav-links {
  justify-content: space-between;
}

.product-name {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: bold;
}

.local-nav-item {
  margin-left: 2em;
  font-size: 0.8rem;
}

.scroll-section {
  position: relative;
  padding-top: 50vh;
  border: 10px solid pink;
}

#scroll-section-0 h1 {
  font-size: 4rem;
  text-align: center;
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  margin: 5px 0;
  height: 3em;
  font-size: 2.5rem;
  opacity: 0;
}

.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}

.description {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1000px;
  font-size: 1.2rem;
  color: var(--color-text-gray);
}

.description strong {
  float: left;
  margin-right: 0.2em;
  font-size: 3rem;
  color: var(--color-text-black);
}

#scroll-section-2 .main-message {
  font-size: 3.5rem;
}

.sticky-elem.desc-message {
  width: 45%;
  font-weight: bold;
}

.pin {
  width: 1px;
  height: 100px;
  background-color: var(--color-text-black);
}

#scroll-section-2 .b {
  top: 10%;
  left: 40%;
}

#scroll-section-2 .c {
  top: 10%;
  left: 40%;
}

.mid-message {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1000px;
  font-size: 2rem;
  color: var(--color-text-gray);
}

.mid-message strong {
  color: var(--color-text-black);
}

.canvas-caption {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1000px;
  color: var(--color-text-gray);
  font-size: 1.2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  color: white;
  background-color: darkorange;
}


.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}

body#show-scene-0 #scroll-section-0 .sticky-elem,body#show-scene-1 #scroll-section-1 .sticky-elem,body#show-scene-2 #scroll-section-2 .sticky-elem,body#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
}

@media (min-width: 1024px) {
  #scroll-section-0 h1 {
		font-size: 9vw;
	}
	.main-message {
		font-size: 4vw;
	}
	.description {
		padding: 0;
		font-size: 2rem;
	}
	.description strong {
		font-size: 6rem;
	}
	#scroll-section-2 .main-message {
		font-size: 6vw;
	}
	.main-message small {
		font-size: 1.5vw;
	}
	.sticky-elem.desc-message {
		width: 20%;
	}
	#scroll-section-2 .b {
		top: 20%;
		left: 53%;
	}
	#scroll-section-2 .c {
		left: 55%;
	}
	.mid-message {
		/* width: 1000px; */
		padding: 0;
		font-size: 4vw;
	}
	.canvas-caption {
		margin-top: -8rem;
		padding: 0;
		font-size: 2rem;
	}
}

/* 애니메이션에 필요한 정보
1. 각 스크롤 영역의 높이
2. 비디오의 재생시간 or 재생 프레임수 
3. 중간에 끼어드는 텍스트 애니메이션의 타이밍
*/

/* 우리 눈 앞에 위치는 픽스되어있는데 스크롤에 따라 변화함 -> sticky-elem */